name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test-and-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24'
        cache: true
        cache-dependency-path: '**/go.sum'

    - name: Run Tests
      run: make test

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: v1.61
        working-directory: src

    - name: Run Benchmarks
      run: make performance

    - name: Build
      run: make build

    - name: Upload Binary
      uses: actions/upload-artifact@v4
      with:
        name: eth-watchtower
        path: eth-watchtower