name: Go CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24'

    - name: Install dependencies
      run: cd src && go mod download

    - name: Lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: latest
        working-directory: src

    - name: Build
      run: cd src && go build -v -o ../eth-watchtower

    - name: Test
      run: cd src && go test -race -v ./...
